$primary-color: #0076BE
$secondary-color: #9A9B9C
$grey-shadeA: #CCCCCC
$grey-shadeB: #DDDDDD
$background-navbar: #E2E8F0

.navbarContainer
    // border: 1px solid red
    width: 100%

    .navbarWrapper
        // border: 1px solid red
        width: 95%
        margin: 0 0 0 auto
        background-color: $background-navbar
        display: flex
    
        .menu
            border: 1px solid blue
            display: flex
            flex-direction: row
        
.menu ul
    list-style-type: none
    display: flex
    gap: 4em
    align-items: center

    li a
        text-decoration: none
        color: $primary-color
        font-weight: 600

.logo img
    width: 12em
    padding: 1em 2em